<footer class="footer">
  <h6>
    The Ruby on Rails Sample App</a>
    by Ashwin Vijendra</a>
    <ul class="footerfont">
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </h6>
</footer>
