<footer class="footer">
  <h6>
    The Ruby on Rails Sample App</a>
    by Ashwin Vijendra</a>
    <ul class="footerfont">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </h6>
</footer>
